/* 共用樣式 */
body {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

#chart-container {
  border: 1px solid #ccc;
  padding: 20px;
}

/*月曆*/
.calendar {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.calendar-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.calendar-body {
  display: flex;
  flex-wrap: wrap;
}
.month {
  width: calc(100% / 3);
  padding: 10px;
}
.month-header {
  font-weight: bold;
  margin-bottom: 10px;
}
.days {
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.day:hover {
  background-color: #f0f0f0;
}
.record {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.record-item {
  margin-bottom: 10px;
}
