/* 共用樣式 */
body {
  font-family: "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* index 的樣式 */
.page8 {
  margin: 0;
  overflow: hidden;
}

/* index 的樣式 */

/*導覽列*/
#navbar {
  background-color: #333;
  position: fixed;
  width: 98%;
  display: flex; /* 使用 flexbox 進行排列 */
  justify-content: space-between; /* 左右對齊 */
  align-items: center; /* 垂直居中對齊 */
  box-sizing: border-box; /* 避免寬度超過 100% 造成橫向滾動條 */
  z-index: 1000; /* 設置一個足夠大的 z-index，以確保它在其他元素之上 */
  border-radius: 20px;
  margin: 10px; /* 上下左邊外邊距 */
  top: -65px; /* Hide the navbar 50 px outside of the top view */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* 新的導覽列結構 */
.logo1 {
  display: flex;
  align-items: center;
}

.logo1 img {
  width: 50px;
}

.logo1 a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}

.menu {
  list-style: none;
  display: flex;
  margin-left: auto; /* 將 menu 靠右 */
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
  padding: 20px;
}

/*home*/

.banner {
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 創建一個4列的網格 */
  grid-template-rows: auto auto; /* 自動大小的兩行 */
  grid-gap: 16px; /* 網格間隙 */
}

.grid-item {
  background: #f0f0f0;
  /*padding: 16px;*/
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 第1個元素 - 大的正方形，佔用兩列兩行 */
.grid-item.large {
  grid-column: span 2;
  grid-row: span 30;
}

.image-overlay {
  position: absolute;
  top: 80%; /* 調整百分比值以控制向下的移動程度 */
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  align-items: flex-start; /* Align text to the left */
}

.overlay-content h1 {
  font-size: 62px; /* Increase the font size of the title */
  margin: 0; /* Remove margin to align with the text below */
  position: relative;
  top: -180px; /* Move the title upward */
}

.overlay-content p {
  font-size: 30px; /* Increase the font size of the paragraph text */
  margin: 10px 0; /* Add some margin for better spacing */
  position: relative;
  top: 190px; /* Move the title upward */
}

.overlay-content .material-symbols-outlined {
  font-size: 40px; /* Increase the font size of the icon */
}

.image-overlay:hover .overlay-content {
  opacity: 1;
}

.overlay-content i {
  font-size: 40px; /* 调整图标大小 */
}

/*icons*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* 第2和第3個元素 - 垂直的長方形，各佔用一列兩行 */
.grid-item.vertical {
  grid-column: span 1;
  grid-row: span 30;
}

/* 第4、第5和第6個元素 - 橫向的長方形，各佔用一列一行 */
.grid-item.horizontal {
  grid-column: span 2;
  grid-row: span 15;
}

/*about*/
.about-section {
  position: relative;
  background: url(../image/) repeat;
}

/*function*/
.function-section {
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: whitesmoke;
}

/* Caption text */
.text {
  color: #333;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* 自動撥放時的動畫 */
.fade {
  animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.4;
  }
  20%,
  80% {
    opacity: 1;
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 97%;
  border-radius: 20px;
  margin: 20px; /* 上下左邊外邊距 */
}

/*滾動返回頂部按鈕*/
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
