/* 共用樣式 */
body {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

/*任務月曆*/
.calendar {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  background-color: #80bef5;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.calendar-body {
  flex-wrap: wrap;
}
.month {
  width: calc(100% / 3);
  padding: 10px;
}
.month-header {
  font-weight: bold;
  margin-bottom: 10px;
}
.days {
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.day:hover {
  background-color: #f0f0f0;
}
.record {
  max-width: 500px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block; /* 固定显示记录区域 */
}
.record.show {
  display: block;
}
.record-item {
  margin-bottom: 10px;
}

.add-task {
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  color: blue;
}
