/* 共用樣式 */
body {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

/*任務月曆*/
.calendar {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  background-color: #80bef5;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.calendar-body {
  flex-wrap: wrap;
}
.month {
  width: calc(100% / 3);
  padding: 10px;
}
.month-header {
  font-weight: bold;
  margin-bottom: 10px;
}
.days {
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.day:hover {
  background-color: #f0f0f0;
}
.record {
  max-width: 500px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block; /* 固定显示记录区域 */
}
.record.show {
  display: block;
}
.record-item {
  margin-bottom: 10px;
}

.add-task {
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  color: blue;
}

/*導覽列*/
#masthead .navbar {
  margin-bottom: 0;
  min-height: 70px;
}

#masthead .navbar-default {
  background-color: #ffffff;
  border-color: #ecf0f1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: 0;
}

#masthead .navbar-brand {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20.5px 15px;
  height: 70px;
  color: #000;
}

#masthead .navbar-brand img {
  width: 125px;
}

#masthead .navbar-default .navbar-brand {
  color: #000;
}

#masthead .navbar-brand span {
  color: #80bef5;
}

#masthead .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 900;
}

#masthead .navbar-default .navbar-nav > li > a {
  color: #2c3e50;
}

#masthead .navbar-default .navbar-nav > li > a:hover,
#masthead .navbar-default .navbar-nav > li > a:focus {
  color: #80bef5;
}

#masthead .dropdown-menu {
  font-size: 11px;
  min-width: 175px;
}

#masthead .dropdown-menu > li > a {
  color: #2c3e50;
  font-weight: 400;
  text-transform: uppercase;
}

#masthead .dropdown-menu > li > a:hover,
#masthead .dropdown-menu > li > a:focus {
  color: #80bef5;
}

@media (max-width: 767px) {
  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #80bef5;
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000;
    color: #fff !important;
  }

  #masthead .navbar-nav > li > a {
    border-bottom: 1px solid #ecf0f1;
  }

  #masthead .navbar-nav > li:last-child > a {
    border-bottom: 0;
  }

  #masthead .nav > li.dropdown:before {
    content: "+";
    position: absolute;
    top: 0;
    right: 15px;
    color: #bdc3c7;
    font-size: 30px;
    z-index: 9999;
    font-weight: 200;
  }

  #masthead .nav > li.dropdown.open:before {
    content: "-";
    right: 17px;
  }

  #masthead .dropdown-menu > li > a:before {
    content: "-";
    margin-right: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  #masthead .navbar-brand {
    padding: 40px 0px;
    height: 90px;
  }

  #masthead .navbar-brand img {
    width: 145px;
  }

  #masthead .navbar-nav > li > a {
    border-top: 4px solid transparent;
    padding-top: 31px;
    padding-bottom: 35px;
  }

  #masthead .navbar-default .navbar-nav > li > a:hover,
  #masthead .navbar-default .navbar-nav > li > a:focus {
    border-top-color: #80bef5;
  }

  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #80bef5;
    background-color: #e7e7e7;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
    background-color: transparent;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    color: #80bef5;
    background-color: #ffffff;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
  }

  #masthead .dropdown-menu {
    border-radius: 0;
    border: 0;
    background-color: #000;
  }

  #masthead .dropdown-menu > li > a {
    padding: 15px 30px;
    color: #fff;
    font-weight: 800;
  }

  #masthead .dropdown-menu > li > a:hover,
  #masthead .dropdown-menu > li > a:focus {
    background-color: #80bef5;
    color: #fff !important;
  }

  #masthead .dropdown-menu > .active > a,
  #masthead .dropdown-menu > .active > a:hover,
  #masthead .dropdown-menu > .active > a:focus {
    background-color: #80bef5;
  }
}

#masthead .navbar-default .navbar-toggle {
  background-color: #80bef5;
  background-image: none;
  border: 1px solid #80bef5;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#masthead .navbar-default .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #ffffff;
  height: 4px;
}

#masthead .navbar-default .navbar-toggle:hover,
#masthead .navbar-default .navbar-toggle:focus {
  border-color: #80bef5;
}

/* Buttons
 * -------------------------- */

.btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  padding: 10px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 14px;
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 6px 9px;
  font-size: 10px;
  font-size: 10px;
}

.btn-xs {
  padding: 1px 5px;
}

.squre {
  border-radius: 0;
}

.thin {
  border-width: 1px;
}

section {
  padding: 20px;
}

img {
  border-radius: 50%;
}
.profile-picture {
  width: 20px; /* 調整寬度 */
  height: 20px; /* 高度會自動調整以保持原始比例 */
}
