/* 導覽列樣式 */
 #navbar {
    background-color: #333;
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 20px;
    margin: 10px;
    top: 0px;
    transition: top 0.3s;
  }
  
  #navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* 新的導覽列結構 */
  .logo1 {
    display: flex;
    align-items: center;
  }
  
  .logo1 img {
    width: 50px;
  }
  
  .logo1 a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  hr {
    border: none; /* 删除默认的边框样式 */
    border-top: 2px solid #333; /* 设置顶部边框为实线，颜色为深灰色 */
    margin: 20px 0; /* 设置分界线的上下间距 */
    width: 100%; /* 设置分界线的宽度 */
}

        /* 灰色區域 */
        .gray-container {
          background-color: #f2f2f2; /* 灰色背景颜色 */
          padding: 20px; /* 视频元素周围的内边距 */
          display: flex; /* 使用 flexbox 进行布局 */
          flex-direction: column; /* 列布局 */
          align-items: center; /* 水平居中对齐 */
          position: absolute; /* 绝对定位 */
          top: 50px; /* 距离顶部的偏移量 */
          left: 0; /* 左对齐 */
          right: 0; /* 右对齐 */
          font-size: 20pt;
          border: 2px solid #f2f2f2;
      }

      /* Styling for the video element */
      #video {
          width: 640px; /* Set width of video element */
          height: 480px; /* Set height of video element */
      }


      #start {
        margin-left: -150pt;
      }
    
      #voice_guide {
        margin-left: 30pt;
        margin-right: 170pt;
      }

      /* 計時器按钮样式 */
      .switch-button {
        margin-right: 50%; /* 增加右侧间距 */
        display: flex; /* 使用 Flex 布局 */
        justify-content: space-between; /* 在容器内平均分布子元素 */
        align-items: center; /* 垂直居中对齐 */
        width: 250px; /* 增加宽度以容纳暂停按钮 */
        
      }

      .switch-button button {
        padding: 10px 20px; /* 增大按钮的内边距 */
        background: none;
        border: none;
        cursor: pointer;
      }

      .switch-button .item {
        padding: 10px 20px; /* 增大按钮的内边距 */
        border: 1px solid #ccc;
        justify-content:center;
        border-radius: 10px; /* 增大按钮的圆角 */
        background-color: #f0f0f0;
        transition: background-color 0.3s ease;
        white-space: nowrap; /* 禁止文本换行 */
        font-size: 18pt;/*中間按鈕文字大小*/
      }

      .switch-button .item:hover {
        background-color: #e0e0e0;
      }

    

      /* Styles for pause button */
      .pause-button {
          margin: 0 20px; /* Add margin between pause button and switch buttons */
      }

      /*心跳步數大卡*/
      .additional-info {
        display: flex; /* 使用 Flex 布局 */
        float: right; /* 将容器向右浮动 */
        margin-top: 0px; /* 增加顶部间距 */
        margin-left: 130px; /* 增加左侧间距 */
        text-align: left; /* 将文本右对齐 */
        white-space: nowrap; /* 禁止文本换行 */
        align-items: center; /* 垂直居中对齐 */

      justify-content: flex-end; /* 水平靠右对齐 */
      }
    
    .additional-info span {
        margin-right: 30px; /* 增加各个文字之间的间距 */
    }

    /* 媒體按鈕樣式 */
    #media {
      display: flex;
      justify-content: flex-end; /* 按钮右对齐 */
      margin-left: auto; /* 将按钮推到右侧 */
  }
  
  .item {
      display: flex;
      align-items: center;
      margin-left: 10px; /* 左侧间距 */
      padding: 5px 10px; /* 按钮内边距 */
      border: 1px solid #ccc; /* 边框 */
      border-radius: 5px; /* 圆角 */
      background-color: #f0f0f0; /* 背景颜色 */
  }
  
  .item i {
      margin-right: 5px; /* 图标与文字之间的间距 */
  }
    
    
    
    