body {
  font-family: "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/*導覽列*/
#masthead .navbar {
  margin-bottom: 0;
  min-height: 70px;
}

#masthead .navbar-default {
  background-color: #ffffff;
  border-color: #ecf0f1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: 0;
}

#masthead .navbar-brand {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20.5px 15px;
  height: 70px;
  color: #000;
}

#masthead .navbar-brand img {
  width: 125px;
}

#masthead .navbar-default .navbar-brand {
  color: #000;
}

#masthead .navbar-brand span {
  color: #80bef5;
}

#masthead .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 900;
}

#masthead .navbar-default .navbar-nav > li > a {
  color: #2c3e50;
}

#masthead .navbar-default .navbar-nav > li > a:hover,
#masthead .navbar-default .navbar-nav > li > a:focus {
  color: #80bef5;
}

#masthead .dropdown-menu {
  font-size: 11px;
  min-width: 175px;
}

#masthead .dropdown-menu > li > a {
  color: #2c3e50;
  font-weight: 400;
  text-transform: uppercase;
}

#masthead .dropdown-menu > li > a:hover,
#masthead .dropdown-menu > li > a:focus {
  color: #80bef5;
}

@media (max-width: 767px) {
  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #80bef5;
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000;
    color: #fff !important;
  }

  #masthead .navbar-nav > li > a {
    border-bottom: 1px solid #ecf0f1;
  }

  #masthead .navbar-nav > li:last-child > a {
    border-bottom: 0;
  }

  #masthead .nav > li.dropdown:before {
    content: "+";
    position: absolute;
    top: 0;
    right: 15px;
    color: #bdc3c7;
    font-size: 30px;
    z-index: 9999;
    font-weight: 200;
  }

  #masthead .nav > li.dropdown.open:before {
    content: "-";
    right: 17px;
  }

  #masthead .dropdown-menu > li > a:before {
    content: "-";
    margin-right: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  #masthead .navbar-brand {
    padding: 40px 0px;
    height: 90px;
  }

  #masthead .navbar-brand img {
    width: 145px;
  }

  #masthead .navbar-nav > li > a {
    border-top: 4px solid transparent;
    padding-top: 31px;
    padding-bottom: 35px;
  }

  #masthead .navbar-default .navbar-nav > li > a:hover,
  #masthead .navbar-default .navbar-nav > li > a:focus {
    border-top-color: #80bef5;
  }

  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #80bef5;
    background-color: #e7e7e7;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
    background-color: transparent;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    color: #80bef5;
    background-color: #ffffff;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
  }

  #masthead .dropdown-menu {
    border-radius: 0;
    border: 0;
    background-color: #000;
  }

  #masthead .dropdown-menu > li > a {
    padding: 15px 30px;
    color: #fff;
    font-weight: 800;
  }

  #masthead .dropdown-menu > li > a:hover,
  #masthead .dropdown-menu > li > a:focus {
    background-color: #80bef5;
    color: #fff !important;
  }

  #masthead .dropdown-menu > .active > a,
  #masthead .dropdown-menu > .active > a:hover,
  #masthead .dropdown-menu > .active > a:focus {
    background-color: #80bef5;
  }
}

#masthead .navbar-default .navbar-toggle {
  background-color: #80bef5;
  background-image: none;
  border: 1px solid #80bef5;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#masthead .navbar-default .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #ffffff;
  height: 4px;
}

#masthead .navbar-default .navbar-toggle:hover,
#masthead .navbar-default .navbar-toggle:focus {
  border-color: #80bef5;
}

/* Buttons
 * -------------------------- */

.btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  padding: 10px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 14px;
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 6px 9px;
  font-size: 10px;
  font-size: 10px;
}

.btn-xs {
  padding: 1px 5px;
}

.squre {
  border-radius: 0;
}

.thin {
  border-width: 1px;
}

section {
  padding: 90px;
}
/*導覽頁結束*/

hr {
  border: none; /* 删除默认的边框样式 */
  border-top: 2px solid #333; /* 设置顶部边框为实线，颜色为深灰色 */
  margin: 20px 0; /* 设置分界线的上下间距 */
  width: 100%; /* 设置分界线的宽度 */
}

/* 灰色區域 */
.gray-container {
  background-color: #f2f2f2; /* 灰色背景颜色 */
  padding: 20px; /* 视频元素周围的内边距 */
  display: flex; /* 使用 flexbox 进行布局 */
  flex-direction: column; /* 列布局 */
  align-items: center; /* 水平居中对齐 */
  position: absolute; /* 绝对定位 */
  left: 0; /* 左对齐 */
  right: 0; /* 右对齐 */
  font-size: 20pt;
  border: 2px solid #f2f2f2;
}

/* Styling for the video element */
#video {
  width: 640px; /* Set width of video element */
  height: 480px; /* Set height of video element */
}

#start {
  margin-left: -150pt;
}

#voice_guide {
  margin-left: 30pt;
  margin-right: 170pt;
}

/* 計時器按钮样式 */
.switch-button {
  margin-right: 50%; /* 增加右侧间距 */
  display: flex; /* 使用 Flex 布局 */
  justify-content: space-between; /* 在容器内平均分布子元素 */
  align-items: center; /* 垂直居中对齐 */
  width: 250px; /* 增加宽度以容纳暂停按钮 */
}

.switch-button button {
  padding: 10px 20px; /* 增大按钮的内边距 */
  background: none;
  border: none;
  cursor: pointer;
}

.switch-button .item {
  padding: 10px 20px; /* 增大按钮的内边距 */
  border: 1px solid #ccc;
  justify-content: center;
  border-radius: 10px; /* 增大按钮的圆角 */
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* 禁止文本换行 */
  font-size: 18pt; /*中間按鈕文字大小*/
}

.switch-button .item:hover {
  background-color: #e0e0e0;
}

/* Styles for pause button */
.pause-button {
  margin: 0 20px; /* Add margin between pause button and switch buttons */
}

/*心跳步數大卡*/
.additional-info {
  display: flex; /* 使用 Flex 布局 */
  float: right; /* 将容器向右浮动 */
  margin-top: 0px; /* 增加顶部间距 */
  margin-left: 130px; /* 增加左侧间距 */
  text-align: left; /* 将文本右对齐 */
  white-space: nowrap; /* 禁止文本换行 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: flex-end; /* 水平靠右对齐 */
}

.additional-info span {
  margin-right: 30px; /* 增加各个文字之间的间距 */
}

/* 媒體按鈕樣式 */
#media {
  display: flex;
  justify-content: flex-end; /* 按钮右对齐 */
  margin-left: auto; /* 将按钮推到右侧 */
}

.item {
  display: flex;
  align-items: center;
  margin-left: 10px; /* 左侧间距 */
  padding: 5px 10px; /* 按钮内边距 */
  border: 1px solid #ccc; /* 边框 */
  border-radius: 5px; /* 圆角 */
  background-color: #f0f0f0; /* 背景颜色 */
}

.item i {
  margin-right: 5px; /* 图标与文字之间的间距 */
}

canvas {
  position: absolute;
}

#videoContainer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#output {
  display: block;
}
