/* 共用樣式 */
body {
  font-family: "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* index 的樣式 */
.page8 {
  margin: 0;
  overflow: hidden;
}

/*導覽列*/
#masthead .navbar {
  margin-bottom: 0;
  min-height: 70px;
}

#masthead .navbar-default {
  background-color: #ffffff;
  border-color: #ecf0f1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: 0;
}

#masthead .navbar-brand {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20.5px 15px;
  height: 70px;
  color: #000;
}

#masthead .navbar-brand img {
  width: 125px;
}

#masthead .navbar-default .navbar-brand {
  color: #000;
}

#masthead .navbar-brand span {
  color: #80bef5;
}

#masthead .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 900;
}

#masthead .navbar-default .navbar-nav > li > a {
  color: #2c3e50;
}

#masthead .navbar-default .navbar-nav > li > a:hover,
#masthead .navbar-default .navbar-nav > li > a:focus {
  color: #80bef5;
}

#masthead .dropdown-menu {
  font-size: 11px;
  min-width: 175px;
}

#masthead .dropdown-menu > li > a {
  color: #2c3e50;
  font-weight: 400;
  text-transform: uppercase;
}

#masthead .dropdown-menu > li > a:hover,
#masthead .dropdown-menu > li > a:focus {
  color: #80bef5;
}

@media (max-width: 767px) {
  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #80bef5;
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    border-bottom: 0;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000;
    color: #fff !important;
  }

  #masthead .navbar-nav > li > a {
    border-bottom: 1px solid #ecf0f1;
  }

  #masthead .navbar-nav > li:last-child > a {
    border-bottom: 0;
  }

  #masthead .nav > li.dropdown:before {
    content: "+";
    position: absolute;
    top: 0;
    right: 15px;
    color: #bdc3c7;
    font-size: 30px;
    z-index: 9999;
    font-weight: 200;
  }

  #masthead .nav > li.dropdown.open:before {
    content: "-";
    right: 17px;
  }

  #masthead .dropdown-menu > li > a:before {
    content: "-";
    margin-right: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  #masthead .navbar-brand {
    padding: 40px 0px;
    height: 90px;
  }

  #masthead .navbar-brand img {
    width: 145px;
  }

  #masthead .navbar-nav > li > a {
    border-top: 4px solid transparent;
    padding-top: 31px;
    padding-bottom: 35px;
  }

  #masthead .navbar-default .navbar-nav > li > a:hover,
  #masthead .navbar-default .navbar-nav > li > a:focus {
    border-top-color: #80bef5;
  }

  #masthead .navbar-default .navbar-nav > .active > a,
  #masthead .navbar-default .navbar-nav > .active > a:hover,
  #masthead .navbar-default .navbar-nav > .active > a:focus {
    color: #80bef5;
    background-color: #e7e7e7;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
    background-color: transparent;
  }

  #masthead .navbar-default .navbar-nav > .open > a,
  #masthead .navbar-default .navbar-nav > .open > a:hover,
  #masthead .navbar-default .navbar-nav > .open > a:focus {
    color: #80bef5;
    background-color: #ffffff;
    border-top: 4px solid #80bef5;
    padding-top: 31px;
  }

  #masthead .dropdown-menu {
    border-radius: 0;
    border: 0;
    background-color: #000;
  }

  #masthead .dropdown-menu > li > a {
    padding: 15px 30px;
    color: #fff;
    font-weight: 800;
  }

  #masthead .dropdown-menu > li > a:hover,
  #masthead .dropdown-menu > li > a:focus {
    background-color: #80bef5;
    color: #fff !important;
  }

  #masthead .dropdown-menu > .active > a,
  #masthead .dropdown-menu > .active > a:hover,
  #masthead .dropdown-menu > .active > a:focus {
    background-color: #80bef5;
  }
}

#masthead .navbar-default .navbar-toggle {
  background-color: #80bef5;
  background-image: none;
  border: 1px solid #80bef5;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#masthead .navbar-default .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #ffffff;
  height: 4px;
}

#masthead .navbar-default .navbar-toggle:hover,
#masthead .navbar-default .navbar-toggle:focus {
  border-color: #80bef5;
}

/* Buttons
 * -------------------------- */

.btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  padding: 10px 15px;
  font-size: 12px;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 14px;
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 6px 9px;
  font-size: 10px;
  font-size: 10px;
}

.btn-xs {
  padding: 1px 5px;
}

.squre {
  border-radius: 0;
}

.thin {
  border-width: 1px;
}

section {
  padding: 90px;
}

/*home*/

.banner {
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 創建一個4列的網格 */
  grid-template-rows: auto auto; /* 自動大小的兩行 */
  grid-gap: 16px; /* 網格間隙 */
}

.grid-item {
  background: #f0f0f0;
  /*padding: 16px;*/
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 第1個元素 - 大的正方形，佔用兩列兩行 */
.grid-item.large {
  grid-column: span 2;
  grid-row: span 30;
}

.image-overlay {
  position: absolute;
  top: 80%; /* 調整百分比值以控制向下的移動程度 */
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  align-items: flex-start; /* Align text to the left */
}

.overlay-content h1 {
  font-size: 62px; /* Increase the font size of the title */
  margin: 0; /* Remove margin to align with the text below */
  position: relative;
  top: -180px; /* Move the title upward */
}

.overlay-content p {
  font-size: 30px; /* Increase the font size of the paragraph text */
  margin: 10px 0; /* Add some margin for better spacing */
  position: relative;
  top: 190px; /* Move the title upward */
}

.overlay-content .material-symbols-outlined {
  font-size: 40px; /* Increase the font size of the icon */
}

.image-overlay:hover .overlay-content {
  opacity: 1;
}

.overlay-content i {
  font-size: 40px; /* 调整图标大小 */
}

/*icons*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* 第2和第3個元素 - 垂直的長方形，各佔用一列兩行 */
.grid-item.vertical {
  grid-column: span 1;
  grid-row: span 15;
}

/* 第4、第5和第6個元素 - 橫向的長方形，各佔用一列一行 */
.grid-item.horizontal {
  grid-column: span 2;
  grid-row: span 15;
}

/*ai導覽*/

/*高級*/
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*about  開始*/
.about-welcome {
  text-align: center;
}
.about-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.about-description {
  font-size: 2.5rem;
  line-height: 1.6;
  color: #666;
  text-align: center;
}

/* 媒體查詢 */
@media (max-width: 767px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-description {
    font-size: 1rem;
  }
}

/* 背景色 */
.gray-bg {
  background: #f9f9f9;
}
/*about  結束*/

/*功能  開始 */
.function-section {
  position: relative;
}

.sbox,
.sbox:hover {
  display: block;
  padding: 35px 0;
  text-align: center;
  color: #95a5a6 !important;
}

.sbox-inner {
  padding: 35px 25px;
  border: 1px solid #ecf0f1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sbox-inner .sbox-icon {
  width: 75px;
  height: 75px;
  background-color: #59ab02;
  border-radius: 100%;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  line-height: 75px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sbox-inner .sbox-title {
  text-transform: uppercase;
  color: #2c3e50;
  margin: 15px 0;
}

.sbox:hover .sbox-inner .sbox-icon {
  background-color: #000;
}
/*功能  結束 */

/*滾動返回頂部按鈕*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 46px;
  z-index: 99;
  text-align: center;
  display: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  color: #fff;
  background-color: #eb3656;
}
.back-to-top:hover {
  color: #eb3656;
  background-color: #fff;
}

/*footer css*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.pb-130 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@media (max-width: 767px) {
  .footer-widget {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.footer-logo a img {
  width: 140px;
}

.footer-logo p {
  line-height: 26px;
  font-size: 16px;
}

.footer-logo .footer-info li {
  margin-top: 20px;
}
.footer-logo .footer-info li .single-info {
  position: relative;
}
.footer-logo .footer-info li .single-info .info-icon {
  position: absolute;
  top: 3px;
  left: 0;
}

.footer-logo .footer-info li .single-info .info-content {
  padding-left: 30px;
}

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 15px;
}
.footer-logo .footer-social li:first-child {
  margin-left: 0;
}
.footer-logo .footer-social li a {
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff5f1;
  color: #646464;
  font-size: 16px;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
  -moz-box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
  box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.footer-logo .footer-social li a:hover {
  background-color: #eb3656;
  color: #fff;
}

.f-title .title {
  font-size: 22px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.footer-link ul li {
  padding-top: 5px;
}
.footer-link ul li a {
  font-size: 16px;
  color: #646464;
  font-family: "Hind", sans-serif;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.footer-link ul li a:hover {
  color: #eb3656;
}

.footer-newsleter p {
  line-height: 26px;
  font-size: 16px;
}

.footer-newsleter .newsleter {
  position: relative;
}
.footer-newsleter .newsleter input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #eb3656;
  background-color: #ffeae1;
}
.footer-newsleter .newsleter button {
  border: 0;
  width: 66px;
  text-align: center;
  padding: 0;
  height: 50px;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #eb3656;
  font-size: 20px;
  line-height: 57px;
  cursor: pointer;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-newsleter .newsleter button {
    width: 45px;
  }
}
.footer-newsleter .newsleter button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 1px;
  height: 36px;
  background-color: #eb3656;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.copyright-area {
  border-top: 1px solid #eceff8;
  padding: 13px 0;
}

.profile-picture {
  width: 20px; /* 調整寬度 */
  height: 20px; /* 高度會自動調整以保持原始比例 */
}
